<a href="/"><img src="./images/add.png" height="50" width="50" /></a>
<a href="/income"><img src="./images/income.png" height="50" width="50" /></a>
<a href="/expenses"><img src="./images/expense.png" height="50" width="50" /></a>
<a href="/search"><img src="./images/explore.png" height="50" width="50" /></a>
<a href="/logout"><img src="./images/logout.png" height="50" width="50" /></a>
