<html>
  <head>
    <title>S & D Budget Sheet</title>
    <link rel="shortcut icon" href="./images/icon.png" />
    <link rel="stylesheet" href="style.css" />
    <script defer src="script.js"></script>
  </head>

  <body>
    <div class="data-entry">
      <h1>S & D Budget-Sheet</h1>
      <div class="notification" id="notification">
        <div align="left">
          <%- include('_navbar_')%>
          <div class="searchbox" style="float: right; width: 360px"><input type="text" placeholder="🔎    Search..." disabled /></div>
        </div>
      </div>
      <div class="notification"><%=message%></div>
      <form id="form" action="/search" method="post">
        <div class="radiobox" id="radio_type">
          <p class="radio_label">Type</p>
          <input type="radio" id="income" name="type" value="Income" required onclick="show_cat_income();" />
          <label for="income">Income</label>
          <input type="radio" id="expenses" name="type" value="Expenses" onclick="show_cat_expenses();" />
          <label for="expenses">Expenses</label>
        </div>
        <div class="txtbox" id="show-expenses" style="display: none">
          <label>Category</label>
          <select id="category_exp" name="category_exp">
            <option>Select a Category...(Optional)</option>
            <option value="grocery">Grocery</option>
            <option value="rent">Rent</option>
            <option value="utilities">Utilities</option>
            <option value="vehicle">Vehicle</option>
            <option value="insurance">Insurance</option>
            <option value="travel">Travel</option>
            <option value="miscellaneous">Miscellaneous</option>
          </select>
        </div>

        <div class="txtbox" id="show-income" style="display: none">
          <label>Category</label>
          <select id="category_inc" name="category_inc">
            <option>Select a Category...(Optional)</option>
            <option value="salary">Salary</option>
            <option value="bonus">Bonus</option>
            <option value="rewards">Rewards</option>
            <option value="other">Other</option>
          </select>
        </div>
        <div class="txtbox">
          <label for="from">From</label>
          <input type="date" id="from" name="from" />
        </div>
        <div class="txtbox">
          <label for="to">To</label>
          <input type="date" id="to" name="to" />
        </div>
        <input type="submit" class="btn" value="Explore 💡" />
      </form>
    </div>
  </body>
</html>
